    window-rule {
        opacity 0.8
        background-effect {
          blur true
          xray false
        }
        geometry-corner-radius 0 // Set every window radius to 20
        clip-to-geometry false
    }
    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
    blur {
      passes 2
      offset 3.0
      noise 0.02
      saturation 1
    }
    window-rule {
        match app-id=r#"^org\.wezfurlong\.wezterm$"#
        default-column-width {}
    }
    window-rule {
        match app-id=r#"^org\.gnome\."#
        draw-border-with-background false
    }
    window-rule {
        match app-id=r#"^gnome-control-center$"#
        match app-id=r#"^pavucontrol$"#
        match app-id=r#"^nm-connection-editor$"#
        default-column-width { proportion 0.5; }
        open-floating false
    }
    window-rule {
        match app-id=r#"^gnome-calculator$"#
        match app-id=r#"^galculator$"#
        match app-id=r#"^blueman-manager$"#
        match app-id=r#"^org\.kde\.kwalletmanager$"#
        match app-id="Pinentry-gtk"
        match app-id=r#"^org\.gnome\.Nautilus$"#
        match app-id=r#"^steam$"#
        match app-id=r#"^xdg-desktop-portal$"#
        open-floating true
        opacity 1.0
    }
    window-rule {
        match app-id=r#"^org\.wezfurlong\.wezterm$"#
        match app-id="Alacritty"
        match app-id="com.mitchellh.ghostty"
        match app-id="google-chrome"
        match app-id="firefox"
        match app-id="kitty"
        match app-id="zed"
        match app-id="discord"
        draw-border-with-background false
    }
    window-rule {
        match app-id=r#"firefox$"# title="^Picture-in-Picture$"
        match app-id="zoom"
        open-floating true
        opacity 1.0
    }
    window-rule {
        match app-id=r#"zen$"#
        match app-id=r#"firefox$"#
        opacity 1.0
    }
    window-rule {
        match title="Zed"
        open-floating true
        opacity 1.0
    }
    window-rule {
        match app-id=r#"zen$"# title="^Picture-in-Picture$"
        match app-id="zoom"
        open-floating true
        opacity 1.0
    }
